@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("image/bg.png");
    background-repeat: repeat;
}

.sidebar {
    color: #0A1931;
    position: fixed;
    width: 300px;
    height: 100vh;
    background: rgba(255, 255, 255, 0.9);
}

.sidebar .menu{
   width: 100%;
   margin-top: 0px;
}

.sidebar .menu .title{
    font-size: large;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 10px;
    color: #71A5C6;
 }
 

.sidebar .menu .sub-menu {
    position: relative;
 }

.sidebar .menu .item a{
    color: #0A1931;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 0px 50px;
    line-height: 60px;
 }

 .sidebar .menu .item a .dropdown{
    position: absolute; 
    right: 0;
    margin: 20px;
}

.sidebar .menu .item .sub-menu a{
    padding-left: 80px;
}

.sidebar .menu .item .sub-menu .status{
    margin-right: 15px;
    color: #43EE7D;
}

.sidebar .menu .item .sub-menu .status-offline{
    margin-right: 15px;
    color: #FF594D;
}

.name {
    font-size: 30px;
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.quote {
    width: 100%;
    margin-bottom: 50px;
    margin-top: 10px;
    text-align: center;
}

.sidebar .profile {
    position: fixed;
    bottom: 0;
}

.sidebar .profile .profile-name{
    position: absolute;
    margin: 25px 10px 10px 5px;
    font-weight: bold;
}

.sidebar .profile .profile-role{
    font-size: 12px;
    position: absolute;
    color: #9F9F9F;
    margin: 45px 10px 50px 5px;
}

.sidebar .profile img {
    height: 60px;
    width: 60px;
    margin: 10px;
}

.task {
    color: #9F9F9F;
    position: absolute;
    margin: 35px 30px 10px 156px;
}

.timer {
    color: #9F9F9F;
    position: absolute;
    margin: 35px 30px 10px 186px;
}

.workspace {
    position: fixed;
    left: 100px;
    top: 10px;
    width: 200px;
    height: 100px;
}

.channel {
    border: none;
    background-color: transparent;
    padding: 10px;
    color: transparent;
    cursor: pointer;
    position: absolute;
    left: 710px;
    top: 470px;
}

/* The actual popup */
.channel .user-sit {
    visibility: hidden;
    width: 75px;
    color: #fff;
    position: absolute;
    left: -20px;
    top: -10px;
  }
  
  /* Toggle this class - hide and show the popup */
  .channel .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

  .popup {
    border: none;
    background-color: transparent;
    padding: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    left: 1105px;
    top: 565px;
}

.popup .user-menu {
    visibility: hidden;
    width: 75px;
    color: #0A1931;
    position: absolute;
    left: -60px;
    top: -120px;
    padding: 15px;
    width: 170px;
    height: auto;
    text-align: center;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    font-weight: 1000;
}

.popup .user-menu .chat{
    color: #0A1931;
    margin: 6px;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}


.popup .user-menu .status-icon {
    margin-right: 10px;
    color: #43EE7D;
    font-size: 7px;
    margin: 6px;
}

.popup .user-menu .user-status {
    margin-right: 10px;
    color: #9F9F9F;
    font-size: 13px;
    margin: 6px;
}





  
